<h1>Constructors</h1>
<div id="paging"></div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Nationality</th>
        <th>WikiLink</th>
    </tr>
    </thead>
    <tbody>
    {{#each constructors.MRData.ConstructorTable.Constructors}}
        <tr>
            <td>{{link (concat '/constructor/' this.constructorId) this.name}}</td>
            <td>{{this.nationality}}</td>
            <td>{{link this.url 'Wikipedia'}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
